InstructorName = Yrd.Doç.Dr. Alper Yilmaz
Institution = Yıldız Teknik Üniversitesi
CourseNumber = BYM3532 
CourseTitle = Viroloji Gr.1
OfficeHours = emaille
Email = alyilmaz@yildiz.edu.tr
Semester = Bahar 2016
Website = http://www.yarbis.yildiz.edu.tr/alyilmaz/course/viewCourse/id/6392
DateTime = Salı 13:00-16:00
Room = KMB318
