InstructorName = Assist.Prof.Dr. Alper Yilmaz
Institution = Yildiz Technical University
CourseNumber = BYM4562 
CourseTitle = Transgenic Organisms Gr.1
OfficeHours = by appointment
Email = alyilmaz@yildiz.edu.tr
Semester = Spring 2018
Website = http://avesis.yildiz.edu.tr/alyilmaz/dokumanlar
DateTimeone = Monday 14:00-17:00
Roomone = KMB215
DateTimetwo = Monday 14:00-17:00
Roomtwo = KMB215

