InstructorName = Assist.Prof.Dr. Alper Yilmaz
Institution = Yildiz Technical University
CourseNumber = BYM2231 
CourseTitle = Biochemisty Gr.2
OfficeHours = by appointment
Email = alyilmaz@yildiz.edu.tr
Semester = Fall 2016
Website = http://yarbis.yildiz.edu.tr/alyilmaz/course/viewCourse/id/7176
DateTime = Friday 9:30-12:00
Room = A-2024 (Davutpasa Campus)

