InstructorName = Assist.Prof.Dr. Alper Yilmaz
Institution = Yildiz Technical University
CourseNumber = BYM4591 
CourseTitle = Data Analysis and Visualization Gr.1 and Gr.2
OfficeHours = by appointment
Email = alyilmaz@yildiz.edu.tr
Semester = Fall 2016
Website = http://yarbis.yildiz.edu.tr/alyilmaz/course/viewCourse/id/7095
DateTimeone = Wednesday 9:30-12:00
Roomone = TBD
DateTimetwo = Friday 14:00-17:00
Roomtwo = TBD

