InstructorName = Assist.Prof.Dr. Alper Yilmaz
Institution = Yildiz Technical University
CourseNumber = BYM3341 
CourseTitle = Genetics Concepts Gr.1 and 2
OfficeHours = by appointment
Email = alyilmaz@yildiz.edu.tr
Semester = Fall 2016
Website = http://yarbis.yildiz.edu.tr/alyilmaz/course/viewCourse/id/7110
DateTimeone = Monday 9:30-12:00
Roomone = KMB318
DateTimetwo = Thursday 9:30-12:00
Roomtwo = KMB216

