InstructorName = Yrd.Doç.Dr. Alper Yilmaz
Institution = Yıldız Teknik Üniversitesi
CourseNumber = BYM3341 
CourseTitle = Genetik Kavramlar Gr.1
OfficeHours = Emaille
Email = alyilmaz@yildiz.edu.tr
Semester = Güz 2016
Website = http://www.yarbis.yildiz.edu.tr/alyilmaz/course/viewCourse/id/7110
DateTime = Pazartesi 9:30-12:00
Room = KMB318
