InstructorName = Assist.Prof.Dr. Alper Yilmaz
Institution = Yildiz Technical University
CourseNumber = BYM3532 
CourseTitle = Virology Gr.2
OfficeHours = by appointment
Email = alyilmaz@yildiz.edu.tr
Semester = Spring 2016
Website = http://yarbis.yildiz.edu.tr/alyilmaz/course/viewCourse/id/6378
DateTime = Monday 9:30-12:00
Room = KMB3216

