InstructorName = Assist.Prof.Dr. Alper Yilmaz
Institution = Yildiz Technical University
CourseNumber = BYM3361
CourseTitle = Genetics Concepts Gr.1
OfficeHours = by appointment
Email = alyilmaz@yildiz.edu.tr
Semester = Fall 2018
Website = http://avesis.yildiz.edu.tr/alyilmaz/
DateTimeone = Thursday 9:30-12:00
Roomone = KMB215
