InstructorName = Assist.Prof.Dr. Alper Yilmaz
Institution = Yildiz Technical University
CourseNumber = BYM4502 
CourseTitle = Virology
OfficeHours = by appointment
Email = alyilmaz@yildiz.edu.tr
Semester = Spring 2019
Website = http://avesis.yildiz.edu.tr/alyilmaz/dokumanlar
DateTime = Wednesday 13:00-16:00
Room = KMB315

