InstructorName = Assist.Prof.Dr. Alper Yilmaz
Institution = Yildiz Technical University
CourseNumber = BYM3532 
CourseTitle = Virology Gr.2
OfficeHours = by appointment
Email = alyilmaz@yildiz.edu.tr
Semester = Spring 2018
Website = http://avesis.yildiz.edu.tr/alyilmaz/dokumanlar
DateTime = Thursday 13:00-16:00
Room = KMB318

